body {/*style de la page*/
    background-image: url("Images/BGCIRCUIT3480.png"); 
    width: 90%; 
    min-height: 800px; 
    margin: auto; 

    color: black; 
    font-family: 'Comic Sans MS'; 

    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
header { /*Contient le titre du site*/
    color: white;
    width: 100%;
    min-height: 100px; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1 { /*titre du site*/
    border: 7px ridge #0ee2ba;
    font-size: 350%;
    background-color: #006951;
    text-align: center;
    width: 70%;
    text-decoration: none;
}
.Corps { /*Corps principal du site avec la navigation et les articles*/
    border: 7px ridge #333333; 
    background-color: #b3b3b3; 
    min-width: 100%;
    min-height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
nav { /*Menu de navigation qui permet d'accéder aux différents articles*/
    background-color: #333333; 
    font-size: 130%;
    text-align: left;
    padding: 10px 30px 10px 30px; 
    min-height: 400px; 
    min-width: 360px; 
    max-width: 360px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: flex-start; 
}
a { /*Personnalisation des liens*/
    color: white; 
    text-decoration: none; 
}
.Articles { /*Partie principale de la page qui contient les articles*/
    min-width: 400px; 
    min-height: 500px; 
    padding: 10px 30px 10px 30px; 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap; 
}
.Accueil { /*personalisation acceuil*/
    border: 3px outset #999999; 
    color: black;
    background-color: #cccccc;
    box-shadow: #333333 5px 5px; 

    width: 350px;
    min-height: 200px;
    margin: 30px; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
h4 { /*Titre dans les blocs de la page d'accueil*/
    font-size: 120%; 
    background-color: none;
    text-align: center; 
    font-style: oblique; 
    font-weight: normal; 
    min-height: 20px;
    padding: 0px 15px 0px 15px; 
}
.Image { /*image*/
    padding: 5px; 
}
.TitreArticle { /* personalisation titre article en haut*/
    color: black;
    width: 100%;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h2 { /*Personnalisation de la police de titre d'article*/
    font-size: 300%;
    background-color: none;
    text-align: center;
    width: 100%;
    text-decoration: underline; 
}
.CorpsArticle { /*Corps de l'article dans lequel se trouve les différente sections*/
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-content: space-around;
    flex-wrap: wrap
}
section { /*Section de l'articel avec son sous-titre et son paragraphe expliquatif*/
    border: 3px outset #999999; 
    background-color: #cccccc;
    box-shadow: #333333 5px 5px;
    min-width: 300px;
    min-height: 50px;
    margin: 20px;
}
.SousTitreArticle { /*Sous-titre de l'article, inclut dans la section*/
    color: black;
    width: 100%;
    min-height: 100px; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h3 { /*Personnalisation de la police du sous-titre */
    font-size: 200%; 
    text-align: left;
    font-style: oblique;
    font-weight: normal;
    text-decoration: underline;

    width: 100%;
    height: 20px; 
    padding: 0px 50px 0px 50px;
}
.Texte { /*Personnalisation de la partie principale du texte de l'article*/
    font-size: 120%;
    text-align: justify; 
    padding: 0px 20px 0px 20px;
}
img { /*Personnalisation des images*/
   float: right;
   width: 30%; 
   margin: 20px 0px 20px 30px;

}
ul { 
    padding-left: 20px;
}
li { /*Alignement de la liste à puce avec le reste du texte*/
    padding-left: 10px;
}
footer { /*Pied de page*/
    color: white;
    width: 100%;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
cite { /*Bas de page*/
    border: 7px ridge #0ee2ba; 
    width: 50%;
    font-size: 110%;
    font-style: italic;
    background-color: #006951;
    text-align: center;
}
